<section>
  <ng-container *ngIf="image && isVisibleLightbox">
    <div class="lightbox" (click)="closeBox()">
      <img
        class="lightbox__image"
        src={{image.webformatURL}}
        height={{image.webformatHeight}}
        width={{image.webformatWidth}}
        />

        <div class="meta-info-card">
          <p>Owner: {{image.user}}</p>
          <p>Tags: {{image.tags}}</p>
          <p>Likes: {{image.likes}}</p>
          <p>Downloads:  {{image.downloads}}</p>
        </div>
    </div>
  </ng-container>
</section>
