.image-list {
  flex-wrap: wrap;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.image-list__item {
  margin: 1rem;
}

.options {
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 2rem;
  text-align: center;
}
